node_modules
.pnpm-store
.turbo
.next
dist
out
build

.env
.env.local
.env.*.local

*.log
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

storage/audio/*
!storage/audio/.gitkeep
storage/local-library/*
!storage/local-library/.gitkeep

coverage
*.tsbuildinfo
